<template>
    <form @submit.prevent="onSubmit" >
    <input type="text" v-model="title">
    <button type="submit">введите задачу</button>
    <div v-show="false" class="idas">{{ajdi[ajdi.length - 1].id}}</div>
    </form>
</template>
<script>
export default{
    data(){
        return{
        title:""
        }
    },
 props: {
     ajdi:Array,
 },

    methods: {
     
   
      onSubmit(){
         
        if (this.title === ""){
            alert("введена пустая строка")
        }
        else{
            let idas = +document.querySelector(".idas").textContent+1;
            const element = {
                id:idas,
                title: this.title,
                completed: "false"
            }
           this.$emit('add-element', element)
           this.title = ""
           
        }
      }
    }
}
</script>
