<template>
    <div class="spisok">
        <ul>
            <todoitem   v-for="(spiski, i) in messages"  v-bind:spiski="spiski" v-bind:i="i" v-on:removespisok="removeSpis"
/>
        </ul>
    </div>
</template>



<script>
import todoitem from "@/components/todoitem"
 export default{
    props:["messages"],
    components:{
        todoitem
    },
     methods:{
  removeSpis(id){
     this.$emit('removespisok', id)
      let bac = this.messages;
      console.log(this.messages[1].title)
     }
 }
 }

</script>


<style >

</style>