<template>
   <li >
      <div v-bind:class="{got: !spiski.completed}">
         <input type="checkbox" v-on:change="spiski.completed = !spiski.completed">
        {{i+1 +". "+  + spiski.id + ": id элемента,   "  + spiski.title + " :текст задачи"}}
        <button @click="$emit('removespisok', spiski.id)">del</button>
      </div>
   </li>
</template>



<script>
export default {
   props:{
      spiski:{
        type: Object,
        required: true
   },
   i: Number
   },

}

</script>


<style scoped>
*{
   padding: 0;
   margin: 0;
}
button{
   color: red;
   width: 30px;
   height: 30px;
   
}
li{
   text-decoration: none;
   list-style-type: none;
}
 .got{
  text-decoration: line-through;
 }
</style>