<template>
  <div id="app">
   <h1 class="sag">тудушка</h1>
  <addTodo @add-element="addelement"  v-bind:ajdi="messages"/>
  <todo v-bind:messages="messages" @removespisok="removeTodo"/>
   <h3 v-show="!messages.length>0">Список дел пуст</h3>
 <router-link to="/Todos">Перейти к Foo</router-link>
  
 <router-view />
  </div>

</template>


<style>
  .sag{
    text-align: center;
  }
  #app{
    text-align: center;
  }
</style>


<script>
import addTodo from "@/components/addTodo.vue"
import todo from "@/components/todo"
export default {
 
  name: "app",
  data(){
    return{
  
      messages: [
        {id:1, title:"купить пельменей",  completed: "false"},
        
      ]
    }
  },
  components:{ 
    todo,
    addTodo
 
  },
  methods:{
    removeTodo(id){
      this.messages = this.messages.filter(t => t.id !== id)
    },
    addelement(spisok){
      this.messages.push(spisok)
    }
  }
}
</script>
